<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" routerLink="ejercicio1">Ejercicio 1</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="quien-soy">Quien Soy</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="bienvenido">Bienvenido</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="login">Login</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="error">Error</a>
    </div>
</nav>